{% macro card(card_contents) -%}
    <li>
        <strong class="date">{{ card_contents.due.strftime('%A %d %B') }}</strong>
        <p class="title">{{ card_contents.name }}</p>
    </li>
{%- endmacro %}

{% macro list(cards, title, class) -%}
    <div class="list {{ class }}">
        <h2>{{ title }}</h2>

        <ul class="cards">
        {% for card_data in cards %}
            {{ card(card_data) }}
        {% endfor %}
        </ul>
    </div>
{%- endmacro %}

<html>

    <head>
        <title>Upcoming Deadlines</title>
        <link rel="stylesheet" href="/a/css/style.css" type="text/css" />
    </head>

    <body>

        <header>
            <h1>Upcoming Deadlines</h1>
            <!--<em>Powered by <strong>Trello</strong></em>-->
        </header>

        {{ list(timeboxed['this_week'], 'Next Seven Days', 'seven-days') }}
        {{ list(timeboxed['thirty_days'], 'Next Thirty Days', 'thirty-days') }}
        {{ list(timeboxed['radar'], 'Upcoming', 'radar') }}
        {{ list(timeboxed['past'], 'Past', 'past') }}

    </body>

</html>