<html>

<head>

    <title>Trello Deadlines</title>

</head>

<body>

    <h1>Trello Deadlines</h1>

    <h2>Next seven days</h2>
    {% for card in timeboxed['this_week'] %}
        <li>
            <div><strong>{{ card.due.strftime('%d %b') }}</strong>: {{ card.name }}</div>
        </li>
    {% endfor %}

    <hr />

    <h2>Next Thirty Days</h2>
    {% for card in timeboxed['thirty_days'] %}
        <li>
            <div><strong>{{ card.due.strftime('%d %b') }}</strong>: {{ card.name }}</div>
        </li>
    {% endfor %}

    <h2>Upcoming</h2>
    {% for card in timeboxed['radar'] %}
        <li>
            <div><strong>{{ card.due.strftime('%d %b') }}</strong>: {{ card.name }}</div>
        </li>
    {% endfor %}

    <hr />

    <h2>Past</h2>
    {% for card in timeboxed['past'] %}
        <li>
            <div><strong>{{ card.due.strftime('%d %b') }}</strong>: {{ card.name }}</div>
        </li>
    {% endfor %}
</body>

</html>