# Config is where we save API keys and tokens.
www/config.py

# Build folder is where compiled goodness goes
www/build/*
/temp

setuptools-*
*.pyc
*.log
get-pip.py

/node_modules/*
.sass-cache/

# Vagrant
.vagrant/

# Apple
.DS_Store

# Pycharm
.idea*